body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, select, textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
    padding: 1em;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#rating input {
    display: none;
}

.star {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.star.selected,
.star:hover,
.star:hover ~ .star {
    color: #f0c040;
}

fieldset {
    margin-top: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

legend {
    padding: 0 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 5px 0;
}
